Package: com.eolnmsuk.haptix
Name: HaptiX
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 1.2.1
Architecture: iphoneos-arm64
Description: A system-wide haptic feedback tweak for iOS 13–17 (with options).
Maintainer: EolnMsuk
Author: EolnMsuk
Section: Tweaks
Icon: https://raw.githubusercontent.com/EolnMsuk/HaptiX/refs/heads/main/haptixprefs/Resources/sicon.png
SileoDepiction: https://raw.githubusercontent.com/EolnMsuk/HaptiX/main/depiction.json