Package: com.eolnmsuk.haptix
Name: HaptiX
Depends: mobilesubstrate, preferenceloader
Version: 2.0.0
Architecture: iphoneos-arm64
Description: Advanced system-wide haptic customization for iOS 16. Includes Overdrive mode and Hardware hooks.
Maintainer: eolnmsuk
Author: eolnmsuk
Section: Tweaks
