Package: com.eolnmsuk.haptix
Name: HaptiX
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 3.0.0
Architecture: iphoneos-arm64
Description: Advanced system-wide haptic customization for iOS 16. Includes Overdrive mode, Hardware hooks, and AltList support.
Maintainer: eolnmsuk
Author: eolnmsuk
Section: Tweaks
